{% include 'base.html' %} {% load static %} {% include 'side-nav.html' %} {% load poll_extras %}
<style>
    .timeline-none {
        margin-bottom: 0;
        padding: 0;
    }

    .timeline-none li {
        position: relative;
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding-left: 0;
        font-weight: bold;
    }

    table tbody tr td {
        vertical-align: middle;
    }
</style>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    {% include 'navbar.html' %}


    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-xl-6 mb-xl-0 mb-4">
                        <div class="card bg-transparent shadow-xl">
                            <div class="overflow-hidden position-relative border-radius-xl"
                                style="background-image: url('{% static 'img/curved-images/curved14.jpg' %}');">
                                <span class="mask bg-gradient-dark"></span>
                                <div class="card-body position-relative z-index-1 p-3">
                                    <i class="fas fa-wifi text-white p-2" aria-hidden="true"></i>
                                    <h5 class="text-white mt-2 mb-2 pb-2">
                                        {{ userCard.card_number }}</h5>

                                    <p class="text-white text-sm opacity-8 mb-0">{{ userCard.card_name }}
                                    </p>
                                    <p class="opacity-8 mb-0 mb-2">
                                        {% if userCard.active %}
                                        <span class="badge bg-gradient-success">Active</span>
                                        {% else %}
                                        <span class="badge bg-gradient-danger">Inactive</span>
                                        {% endif %}
                                    </p>

                                    <div class="d-flex">
                                        <div class="d-flex">
                                            <div class="me-4">
                                                <p class="text-white text-sm opacity-8 mb-0 me-4">Détenteur de la carte
                                                </p>
                                                <h6 class="text-white mb-0">{{ userCard.first_name }}
                                                    {{ userCard.last_name }}</h6>
                                            </div>
                                            <div>
                                                <p class="text-white text-sm opacity-8 mb-0 me-4">EXP DATE</p>
                                                <h6 class="text-white mb-0">{{ userCard.exp_date }}</h6>
                                            </div>
                                            <div>
                                                <p class="text-white text-sm opacity-8 mb-0">CVV</p>
                                                <h6 class="text-white mb-0">{{ userCard.cvv }}</h6>
                                            </div>
                                        </div>
                                        <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                                            <img class="w-60 mt-2" src="{% static 'img/logos/' %}{{ userCard.type }}"
                                                alt="logo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header mx-4 p-3 text-center">
                                        <div
                                            class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                                            <i class="fas fa-landmark opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 p-3 text-center">
                                        <h6 class="text-center mb-0">Qonto</h6>
                                        <span class="text-xs">Compte bancaire</span>
                                        <hr class="horizontal dark my-3">
                                        <h5 class="mb-0">{{ balanceQonto }} €</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-4">
                                <div class="card">
                                    <div class="card-header mx-4 p-3 text-center">
                                        <div
                                            class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                                            <i class="fab fa-paypal opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 p-3 text-center">
                                        <h6 class="text-center mb-0">Paypal</h6>
                                        <span class="text-xs">Compte bancaire</span>
                                        <hr class="horizontal dark my-3">
                                        <h5 class="mb-0">0 €</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-lg-0 mb-4">
                        <div class="card mt-4">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0">Mode de paiement</h6>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a class="btn bg-gradient-dark mb-0" href="javascript:;"><i class="fas fa-plus"
                                                aria-hidden="true"></i>&nbsp;&nbsp;Ajouter une carte</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <div class="row">
                                    {% for value in usersCards %}

                                    <div class="col-md-6 mb-md-0 mb-4">
                                        <div
                                            class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
                                            <img class="w-10 me-3 mb-0" src="{% static 'img/logos/' %}{{ value.type }}"
                                                alt="logo">
                                            <h6 class="mb-0">
                                                {{ value.card_number }}
                                            </h6>
                                            <i class="fas fa-pencil-alt ms-auto text-dark cursor-pointer"
                                                data-bs-toggle="tooltip" data-bs-placement="top" aria-hidden="true"
                                                aria-label="Modifier la carte"
                                                data-bs-original-title="Modifier la carte"></i><span
                                                class="sr-only">Modifier la carte</span>
                                        </div>
                                    </div>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h6 class="mb-0">Relevé de compte</h6>
                            </div>
                            <div class="col-6 text-end">
                                <a href="statements-account-bank" class="btn btn-outline-primary btn-sm mb-0">Voir
                                    tout</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 pb-0">
                        <ul class="list-group">
                            {% for data in usersStatement %}

                            <li
                                class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ data.date }}</h6>
                                    <span class="text-xs">{{ data.releves }}</span>
                                </div>
                                <div class="d-flex align-items-center text-sm">
                                    {% if data.total <= 0 %} 0 € {% else %} {{ data.total }} € {% endif %} <a
                                        href="{% static 'statements/' %}{{ data.doc }}"
                                        class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                            class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i> PDF</a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{qontoListPagination}}
        <div class="row">
            <div class="col-lg-12 mt-4">
                <div class="card h-100 mb-4">
                    <div class="card-header pb-0 px-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="mb-0">Aperçu des dépenses</h6>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <i class="far fa-calendar-alt me-2" aria-hidden="true"></i>
                                <small>{% now "d F Y" %}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">NOUVEAUTÉ</h6>
                        <ul class="list-group">
                            {% for value in qontoList %}
                            <li
                                class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex align-items-center">
                                    <button
                                        class="btn btn-icon-only btn-rounded btn-outline-{% if value.side == "credit" %}success{% elif value.operation_type == "income" %}success{% else %}danger{% endif %} mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i
                                            class="fas {% if value.side == "credit" %}fa-arrow-up{% elif value.operation_type == "income" %}fa-arrow-up{% else %}fa-arrow-down{% endif %}" aria-hidden="true"></i></button>
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-1 text-dark text-sm">{{ value.label }}</h6>
                                        <span class="text-xs">{{ value.settled_at|parse }}</span>
                                    </div>
                                </div>
                                <div
                                    class="d-flex align-items-center {% if value.side == "credit" %}text-success{% elif value.operation_type == "income" %}text-success{% else %}text-danger{% endif %} text-gradient text-sm font-weight-bold">
                                    {% if value.side == "credit" %} + {{ value.amount }} € {% elif value.operation_type == "income" %} + {{ value.amount }} € {% else %} - {{ value.amount }} € {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_number == 1 %}
                                    <li class="page-item disabled">
                                        <a class="page-link bg-gradient-dark text-white" href="javascript:;" tabindex="-1">
                                            <i class="fa fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_before_number }}" tabindex="-1">
                                            <i class="fa fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for i in qontoListPaginationTotalPage %}
                                    {% if i == page_number %}
                                        <li class="page-item active"><a class="page-link bg-gradient-dark text-white">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_number != 1 %}
                                    <li class="page-item disabled">
                                        <a class="page-link bg-gradient-dark text-white" href="javascript:;" tabindex="-1">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_after_number }}" tabindex="+1">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% include 'footer.html' %}