{% include 'base.html' %} {% load static %} {% include 'side-nav.html' %} {% load poll_extras %}
<style>
    .timeline-none {
        margin-bottom: 0;
        padding: 0;
    }

    .timeline-none li {
        position: relative;
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding-left: 0;
        font-weight: bold;
    }

    #products ul, .ul {
        list-style-type: none;
    }

    #products table ul {
        padding: 0 0;
        margin: 0 0;
    }

    table ul br {
        display: none;
    }

    table .text-capitalize {
        text-transform: initial !important;
    }

    table .text-sm p {
        font-size: 13px;
    }
</style>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    {% include 'navbar.html' %}


    <div class="container-fluid py-4">

        <div class="row my-4">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Projets
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">{{ counterProjets }}</h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-app text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Paiement accepté
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">{{ counterPaiementOk }}</h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-credit-card text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Paiement refusée
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">{{ counterPaiementCancel }}</h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-credit-card text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Paiement rembourser
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">{{ counterPaiementRefund }}</h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-credit-card text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Total des commandes
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">
                                        {% if totalProjectOrders != None %}
                                        {{ totalProjectOrders|floatformat:2 }}
                                        {% else %}
                                        0
                                        {% endif %}
                                        €</h5>
                                    </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-4">

                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">Configuration du serveur</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Hôte Mysql
                                    :</strong> &nbsp; {{ configPortfolio.MYSQL_HOST }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Utilisateur
                                    Mysql :</strong> &nbsp; {{ configPortfolio.MYSQL_USER }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mot de
                                    passe Mysql :</strong> &nbsp; {{ configPortfolio.MYSQL_PASSWORD }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Base de
                                    donnée Mysql :</strong> &nbsp; {{ configPortfolio.MYSQL_DATABASE }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Port Mysql
                                    :</strong> &nbsp; {{ configPortfolio.MYSQL_PORT }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">Configuration du client</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nom de
                                    l'application
                                    :</strong> &nbsp; {{ configPortfolioClient.APP_NAME }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong
                                    class="text-dark">Environement
                                    :</strong> &nbsp; {{ configPortfolioClient.APP_ENV }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mode Debug
                                    :</strong> &nbsp; {{ configPortfolioClient.APP_DEBUG }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Clé
                                    d'application
                                    :</strong> &nbsp; {{ configPortfolioClient.APP_KEY }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Hôte Mysql
                                    :</strong> &nbsp; {{ configPortfolioClient.DB_HOST }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Port Mysql
                                    :</strong> &nbsp; {{ configPortfolioClient.DB_PORT }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Base de
                                    donnée Mysql
                                    :</strong> &nbsp; {{ configPortfolioClient.DB_DATABASE }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Utilisateur
                                    Mysql
                                    :</strong> &nbsp; {{ configPortfolioClient.DB_USERNAME }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mot de
                                    passe Mysql
                                    :</strong> &nbsp; {{ configPortfolioClient.DB_PASSWORD }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_MAILER }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail Hôte
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_HOST }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail Port
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_PORT }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail
                                    Utilisateur
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_USERNAME }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail Mot de
                                    passe
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_PASSWORD }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail
                                    Encrypt
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_ENCRYPTION }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail From
                                    Adresse
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_FROM_ADDRESS }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mail From
                                    Nom
                                    :</strong> &nbsp; {{ configPortfolioClient.MAIL_FROM_NAME }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Clé GithHub
                                    :</strong> &nbsp; {{ configPortfolioClient.TOKEN_GITHUB }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Clé Youtube
                                    :</strong> &nbsp; {{ configPortfolioClient.TOKEN_YOUTUBE }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Clé Google
                                    :</strong> &nbsp; {{ configPortfolioClient.TOKEN_GOOGLE }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Google
                                    Client Id
                                    :</strong> &nbsp; {{ configPortfolioClient.GOOGLE_CLIENT_ID }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Client
                                    Google Secret
                                    :</strong> &nbsp; {{ configPortfolioClient.GOOGLE_CLIENT_SECRET }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">Configuration du client</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Google
                                    Redirection
                                    :</strong> &nbsp; {{ configPortfolioClient.GOOGLE_REDIRECT }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Facebook
                                    Client Id
                                    :</strong> &nbsp; {{ configPortfolioClient.FACEBOOK_CLIENT_ID }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Facebook
                                    Client Secret
                                    :</strong> &nbsp; {{ configPortfolioClient.FACEBOOK_CLIENT_SECRET }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Facebook
                                    Return Url
                                    :</strong> &nbsp; {{ configPortfolioClient.FACEBOOK_CALLBACK_URL }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">GithHub
                                    Client Id
                                    :</strong> &nbsp; {{ configPortfolioClient.GITHUB_CLIENT_ID }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">GitHub
                                    Client Secret
                                    :</strong> &nbsp; {{ configPortfolioClient.GITHUB_CLIENT_SECRET }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">GitHub
                                    Return Url
                                    :</strong> &nbsp; {{ configPortfolioClient.GITHUB_CALLBACK_URL }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Clé
                                    Ecouteur Domaine
                                    :</strong> &nbsp; {{ configPortfolioClient.TOKEN_WHOIS_DOMAIN }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Mode Paypal
                                    :</strong> &nbsp; {{ configPortfolioClient.PAYPAL_MODE }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Paypal Live
                                    Client Id
                                    :</strong> &nbsp; {{ configPortfolioClient.PAYPAL_LIVE_CLIENT_ID }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Paypal Live
                                    Client Secret
                                    :</strong> &nbsp; {{ configPortfolioClient.PAYPAL_LIVE_CLIENT_SECRET }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Facebook
                                    App Id
                                    :</strong> &nbsp; {{ configPortfolioClient.FACEBOOK_APP_ID }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Facebook
                                    App Secret
                                    :</strong> &nbsp; {{ configPortfolioClient.FACEBOOK_APP_SECRET }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Facebook
                                    App Clé
                                    :</strong> &nbsp; {{ configPortfolioClient.FACEBOOK_APP_TOKEN }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Twitter Api
                                    Clé
                                    :</strong> &nbsp; {{ configPortfolioClient.TWITTER_API_KEY }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Twitter Api
                                    Secret
                                    :</strong> &nbsp; {{ configPortfolioClient.TWITTER_API_SECRET }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Twitter
                                    Accès Clé
                                    :</strong> &nbsp; {{ configPortfolioClient.TWITTER_ACCESS_TOKEN }}</li>
                            <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Twitter
                                    Accès Secret
                                    :</strong> &nbsp; {{ configPortfolioClient.TWITTER_ACCESS_SECRET }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
                <div class="card">
                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-1">Projets</h6>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Nom
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Catégorie
                                        </th>
                                        <th
                                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Participants
                                        </th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Budget
                                        </th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Avancé du projet
                                        </th>
                                        <th
                                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for projet in projets %}
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    {% if projet.categorie == "template" %}
                                                    <img src="{% static 'img/small-logos/logo-slack.svg' %}"
                                                        class="avatar avatar-sm me-3" alt="{{ projet.title }}" />
                                                    {% else %}
                                                    <img src="{% static 'img/small-logos/icon-sun-cloud.png' %}"
                                                        class="avatar avatar-sm me-3" alt="{{ projet.title }}" />
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ projet.title }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="text-sm font-weight-bold">{{ projet.categorie }}
                                            </span>
                                        </td>
                                        <td>
                                            <div class="avatar-group mt-2">
                                                <a role="button" class="avatar avatar-xs rounded-circle"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                    title="{{ projet.author }}">
                                                    <img src="{% static 'img/' %}{{ projet.author }}.jpg"
                                                        alt="{{ projet.author }}" />
                                                </a>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-xs font-weight-bold">
                                                {% if projet.budget <= 0 %} <span>Gratuit</span>
                                            {% else %}
                                            <span>{{ projet.budget }} €</span>
                                            {% endif %}
                                            </span>
                                        </td>
                                        <td class="align-middle">
                                            <div class="progress-wrapper w-75 mx-auto">
                                                <div class="progress-info">
                                                    <div class="progress-percentage">
                                                        <span class="text-xs font-weight-bold">
                                                            {{ projet.avancement }}%</span>
                                                    </div>
                                                </div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-gradient-info w-{{ projet.avancement }}"
                                                        role="progressbar" aria-valuenow="{{ projet.avancement }}"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center">
                                            <div class="d-flex justify-content-center">
                                                <div class="me-2">
                                                    <a class="btn btn-warning btn-sm mb-0" target="_blank"
                                                        href="">Editer</a>
                                                </div>
                                                <div>
                                                    {% if projet.categorie == "template" %}
                                                    <a class="btn btn-primary btn-sm mb-0" target="_blank"
                                                        href="{{ projet.url }}">Voir</a>
                                                    {% else %}
                                                    <a class="btn btn-primary btn-sm mb-0" target="_blank"
                                                        href="https://portfolio-gaetan.fr/applications/{{ projet.url }}">Voir</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid py-4">

        <div class="row">
            <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
                <div class="card">
                    <div class="card-header pb-0 p-3">
                        <h6 class="mb-1">Utilisateurs</h6>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Nom et Prénom
                                        </th>
                                        <th
                                            class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                            Email
                                        </th>
                                        <th
                                            class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                            Pseudonyme
                                        </th>
                                        <th
                                            class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                            Date naissance
                                        </th>
                                        <th
                                            class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                            Pays
                                        </th>
                                        <th
                                            class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                            Status
                                        </th>
                                        <th
                                            class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">
                                            Compte
                                        </th>
                                        <th
                                            class="text-uppercase text-end text-secondary text-xxs font-weight-bolder opacity-7">
                                            Crée le
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in usersProjets %}
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar-group mt-2">
                                                <a role="button" class="avatar avatar-sm rounded-circle"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                                                    data-bs-original-title="{{ user.pseudo }}">
                                                    <img src="https://portfolio-gaetan.fr/img/profil/{{ user.avatar }}"
                                                        alt="{{ user.pseudo }}">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ user.firstname }} {{ user.lastname }}</h6>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ user.email }}</h6>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ user.pseudo }}</h6>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ user.naissance }}</h6>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ user.pays }}</h6>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">
                                                    {% if user.active == 1 %}
                                                    <span class="badge bg-gradient-info font-weight-bold">Actif</span>
                                                    {% else %}
                                                    <span
                                                        class="badge bg-gradient-danger font-weight-bold">Inactif</span>
                                                    {% endif %}
                                                </h6>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">
                                                    {% if user.admin == 1 %}
                                                    <span class="badge bg-gradient-danger font-weight-bold">Admin</span>
                                                    {% else %}
                                                    <span
                                                        class="badge bg-gradient-info font-weight-bold">Utilisateur</span>
                                                    {% endif %}
                                                </h6>
                                            </div>
                                        </td>
                                        <td class="text-end">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ user.created_at }}</h6>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid py-4">
        <div class="col-12 mt-4">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-1">Blog</h6>
                </div>
                <div class="card-body p-3">
                    <div class="row">

                        {% for new in news %}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card card-blog card-plain">
                                <div class="position-relative">
                                    <a class="d-block shadow-xl border-radius-xl">
                                        <img style="height: 280px;" src="{{ new.image }}" alt="{{ new.title }}"
                                            class="img-fluid shadow border-radius-xl">
                                    </a>
                                </div>
                                <div class="card-body px-1 pb-0">

                                    <h4 class="text-gradient text-dark mb-2">{{ new.title }}</h4>

                                    <span class="badge badge-sm bg-gradient-secondary mb-3 mt-3">
                                        {{ new.categorie }}
                                    </span>

                                    <p class="mb-4 text-sm">
                                        Mise en ligne le {{ new.created_at }}
                                    </p>

                                    <p class="mb-4 text-sm">
                                        {{ new.small_content }}
                                    </p>

                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="https://portfolio-gaetan.fr/article/{{ new.url }}" target="_blank"
                                            class="btn btn-outline-primary btn-sm mb-0">Voir l'actualité</a>
                                        <div class="avatar-group mt-2">
                                            <a href="javascript:;" class="avatar avatar-xs rounded-circle"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                aria-label="{{ new.author }}"
                                                data-bs-original-title="{{ new.author }}">
                                                <img alt="Image placeholder" src="{{ new.avatar }}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4" id="products">
        <div class="col-12 mt-4">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-1">Produits</h6>
                </div>
                <div class="card-body p-3">

                    <div class="table-responsive">

                        <table class="table align-items-center mb-0">

                            <thead>

                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="false"></th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Produit</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Prix</th>
                                    <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Contenu</th>
                                    <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Hebergement</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="false">Action</th>
                                </tr>

                            </thead>

                            <tbody>

                                {% for data in products %}
                                
                                <tr>
                                    <td class="text-center">
                                        <div class="text-center">
                                            <i class="fa-solid fa-{{ data.product_icon }}" style="color: #{{ data.product_color }}"></i>
                                        </div>
                                    </td>
                                    <td class="text-center"><h6 class="mb-0 text-sm">{{ data.product_title }}</h6></td>
                                    <td class="text-center"><h6 class="mb-0 text-sm">{{ data.product_price }} €</h6></td>
                                    <td><ul class="text-sm">{% autoescape off %}{{ data.product_content }}{% endautoescape %}</ul></td>
                                    <td><ul class="text-sm">{% autoescape off %}{{ data.product_hebergement }}{% endautoescape %}</ul></td>
                                    <td>
                                      
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">
        <div class="col-12 mt-4">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-1">Commandes d'applications</h6>
                </div>
                <div class="card-body p-3">

                    <div class="table-responsive">

                        <table class="table table align-items-center mb-0" id="dataTable" width="100%" cellspacing="0"
                            data-click-to-select="true" data-custom-sort="customSort" data-checkbox-header="false"
                            data-page-size="25" data-locale="fr-FR" data-show-fullscreen="true" data-show-export="true"
                            data-show-refresh="true" data-click-to-select="true" data-detail-formatter="detailFormatter"
                            data-pagination="true" data-search="true" data-sortable="true" data-toggle="table"
                            data-show-columns="true">

                            <thead>

                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-field="state" data-checkbox="true"></th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="false"></th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Produit</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Client</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Adresse email</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Type de paiement</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Statut du paiement</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Transaction</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Total</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Date du paiement</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Date du remboursement</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="false">Action</th>
                                </tr>

                            </thead>

                            <tbody>

                                {% for data in orders %}
                                
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="text-center">
                                            <i class="fa-solid fa-{{ data.product_icon }}" style="color: #{{ data.product_color }}"></i>
                                        </div>
                                    </td>
                                    <td class="text-capitalize text-center"><h6 class="text-sm mb-0">{{ data.product_title }}</h6></td>
                                    <td class="text-capitalize text-center"><h6 class="text-sm mb-0">{{ data.firstname }} {{ data.lastname }}</h6></td>
                                    <td class="text-capitalize text-center"><h6 class="text-sm mb-0">{{ data.email }}</h6></td>
                                    <td class="text-capitalize text-center"><h6 class="text-sm mb-0">{{ data.order_method }}</h6></td>
                                    <td class="text-sm text-capitalize text-center">
                                        {% if data.status == 'COMPLETED' %}
                                        <span class="text-success font-weight-bold"><i class="fa-solid fa-check me-2"></i>Paiement accepté</span>
                                        {% elif data.status == 'CANCELED' %}
                                        <span class="text-danger font-weight-bold"><i class="fa-solid fa-xmark me-2"></i>Paiement refusé</span>
                                        {% elif data.status == 'PAYMENT_DECLINED' %}
                                        <span class="text-danger font-weight-bold"><i class="fa-solid fa-xmark me-2"></i>Paiement refusé</span>
                                        {% elif data.status == 'REFUND' %}
                                        <span class="text-danger font-weight-bold"><i class="fa-solid fa-xmark me-2"></i>Paiement rembourser</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-capitalize text-center">
                                        {% if data.transaction_id %}
                                        <h6 class="text-sm">{{ data.transaction_id }}</h6>
                                        {% else %}
                                        <h6 class="text-sm">/</h6>
                                        {% endif %}
                                    </td>
                                    <td class="text-capitalize text-center">
                                        <h6 class="text-sm">{{ data.price }} €</h6>
                                    </td>
                                    <td class="text-capitalize text-center">
                                        <h6 class="text-sm">{{ data.order_at }}</h6>
                                    </td>
                                    <td class="text-capitalize text-center">
                                        {% if data.refund_at == None %}
                                        <h6 class="text-sm">/</h6>
                                        {% else %}
                                        <h6 class="text-sm">{{ data.refund_at }}</h6>
                                        {% endif %}
                                    </td>
                                    <td class="text-capitalize text-center">
                                        {% if data.status == 'COMPLETED' %}
                                        <a class="refund-paiement btn btn-outline-danger mb-0 btm-sm font-weight-bold" data-id="{{ data.id }}"
                                            data-transaction="{{ data.transaction_id }}">Rembourser</a>
                                        {% else %}
                                        <h6 class="text-sm">/</h6>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">
        <div class="col-12 mt-4">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-1">Forums</h6>
                </div>
                <div class="card-body p-3">

                    <div class="table-responsive">

                        <table class="table align-items-center mb-0">

                            <thead>

                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="false"></th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Titre</th>
                                    <th class="text-left text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Sujets</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Réponses</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Vues</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Statut</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Création</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Actions</th>
                                </tr>

                            </thead>

                            <tbody>

                                {% for data in forums %}
                                
                                <tr>
                                    <td class="text-center">
                                        <div class="text-center">
                                            <img width="74px" src="https://portfolio-gaetan.fr/img/forums/{{data.image}}" alt="{{ data.title }}">
                                        </div>
                                    </td>
                                    <td class="text-center"><h6 class="mb-0 text-sm">{{ data.title }}</h6></td>
                                    <td><h6 class="text-sm mb-0">{{ data.content }}</h6></td>
                                    <td class="text-center"><h6 class="text-sm">{{ data.counterTopic }}</h6></td>
                                    <td class="text-center"><h6 class="text-sm">{{ data.counterReplies }}</h6></td>
                                    <td class="text-center"><h6 class="text-sm">{{ data.views }}</h6></td>
                                    <td class="text-center">
                                        {% if data.status == 0 %}
                                        <span class="badge bg-gradient-danger font-weight-bold">Fermé</span>
                                        {% else %}
                                        <span class="badge bg-gradient-info font-weight-bold">Ouvert</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center"><h6 class="text-sm">{{ data.created_at }}</h6></td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-sm mb-0" href="https://portfolio-gaetan.fr/forums/forum/{{ data.url }}" target="_blank">Voir</a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">
        <div class="col-12 mt-4">
            <div class="card mb-4">
                <div class="card-header pb-0 p-3">
                    <h6 class="mb-1">Forums topics</h6>
                </div>
                <div class="card-body p-3">

                    <p class="table-responsive">

                        <table class="table align-items-center mb-0">

                            <thead>

                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="false"></th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="false">Top</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Titre</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Discussion</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Réponses</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Vues</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Statut</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Création</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" data-sortable="true">Actions</th>
                                </tr>

                            </thead>

                            <tbody>

                                {% for data in forums_topics %}
                                
                                <tr>
                                    <td class="text-center">
                                        <p class="mb-0">
                                        {% if data.resolved != 0 %}
                                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                                        {% endif %}
                                        </p>
                                    </td>
                                    <td class="text-center">
                                        {% if data.sticky != 0 %}
                                        <p class="mb-0">
                                            <span class="badge bg-gradient-success font-weight-bold">Top</span>
                                        </p>
                                        {% endif %}
                                    </td>
                                    <td class="text-center"><h6 class="mb-0 text-sm">{{ data.title }}</h6></td>
                                    <td class="text-center"><h6 class="text-sm">0</h6></td>
                                    <td class="text-center"><h6 class="text-sm">{{ data.counterReplies }}</h6></td>
                                    <td class="text-center"><h6 class="text-sm">{{ data.views }}</h6></td>
                                    <td class="text-center">
                                        {% if data.status == 0 %}
                                        <span class="badge bg-gradient-danger font-weight-bold">Fermé</span>
                                        {% else %}
                                        <span class="badge bg-gradient-info font-weight-bold">Ouvert</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center"><h6 class="text-sm">{{ data.created_at }}</h6></td>
                                    <td class="text-center">
                                        <a class="btn btn-primary btn-sm mb-0" href="https://portfolio-gaetan.fr/forums/forum/topic/{{ data.url }}" target="_blank">Voir</a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>

                </div>
            </div>
        </div>
    </div>

</main>

{% include 'footer.html' %}

<script>

    $(document).on('click', '.refund-paiement', function (e) {

        e.preventDefault();

        var id_order = $(this).data('id'),
            transaction_id = $(this).data('transaction')

        var deleteMsg = confirm("Voulez-vous vraiment rembourser la commande ?");

        if (deleteMsg) {

            $.ajax({
                url: 'https://portfolio-gaetan.fr/api/order/refund/' + id_order + '/' + transaction_id,
                method: 'GET',
                data: {},
                processData: false,
                dataType: 'json',
                contentType: false,
                success: function (data) {

                    if (data.status == 0) {

                        console.log(data.msg)

                    } else {

                        console.log(data.msg)

                        setTimeout(() => {
                            location.reload()
                        }, 3500);

                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });

        }

    })

    $(function () {
        $('#dataTable').bootstrapTable()
    })

    function customSort(sortName, sortOrder, data) {
        var order = sortOrder === 'desc' ? -1 : 1
        data.sort(function (a, b) {
            var aa = +((a[sortName] + '').replace(/[^\d]/g, ''))
            var bb = +((b[sortName] + '').replace(/[^\d]/g, ''))
            if (aa < bb) {
                return order * -1
            }
            if (aa > bb) {
                return order
            }
            return 0
        })
    }
</script>