{% include 'base.html' %} {% load static %} {% include 'side-nav.html' %} {% load poll_extras %}
<style>
    .timeline-none {
        margin-bottom: 0;
        padding: 0;
    }

    .timeline-none li {
        position: relative;
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding-left: 0;
        font-weight: bold;
    }
</style>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    {% include 'navbar.html' %}

    <div class="container-fluid py-4">

        <div class="row my-4">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Total des heures ({{ year }})
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">{{ totalHours|floatformat:0 }}</h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-sound-wave text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Total brut ({{ year }})
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">{{ totalBrut|floatformat:0 }} €</h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                        Total net ({{ year }})
                                    </p>
                                    <h5 class="font-weight-bolder mb-0">{{ totalNet|floatformat:0 }} €</h5>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>

    </div>

    <div class="container-fluid py-4">

        {% if msg %}
            <div class="row">
                <div class="col-md-4 mb-md-0 mb-4 mt-4">
                    <div class="alert alert-{{ msg_status }}" role="alert">
                        <span class="text-white font-weight-bold">{{ msg }}</span>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">

            <div class="col-lg-8">
                <div class="card z-index-2">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">
                                <h6>Brut et Net - Salaires</h6>
                            </div>
                            <div class="col-lg-6 col-5 my-auto text-end">
                                <div class="dropdown float-lg-end pe-4">
                                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" style="left: -100px;" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="?year=2023">Année 2023</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="?year=2022">Année 2022</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="?year=2021">Année 2021</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="chart">
                            <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>

                <div class="card z-index-2 mt-3">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">
                                <h6>Heures et Total des heures - Salaires</h6>
                            </div>
                            <div class="col-lg-6 col-5 my-auto text-end">
                                <div class="dropdown float-lg-end pe-4">
                                    <a class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="fa fa-ellipsis-v text-secondary" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" style="left: -100px;" aria-labelledby="dropdownTable2">
                                        <li><a class="dropdown-item border-radius-md" href="?year=2023">Année 2023</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="?year=2022">Année 2022</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="?year=2021">Année 2021</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="chart">
                            <canvas id="chart-line2" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h6 class="mb-0">Documents</h6>
                            </div>
                            <div class="col-6 text-end d-flex"
                                style="align-content: center;align-items: center;justify-content: flex-end;">
                                <a class="mb-0 me-4" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modal-doc"><i
                                        class="fas fa-plus text-dark ms-auto cursor-pointer" data-bs-toggle="tooltip"
                                        data-bs-placement="top" aria-hidden="true" aria-label="Ajouter un document"
                                        data-bs-original-title="Ajouter un document"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-3 pb-0">
                        <ul class="list-group">
                            {% for data in salarysList %}
        
                            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ data.date }}</h6>
                                    <span class="text-xs">Heures mensuel <span class="text-primary text-gradient text-bold">{{ data.hours }}</span></span>
                                </div>
                                <div class="d-flex align-items-center text-sm">
                                    {% if data.net <= 0 %} 0 € {% else %} {{ data.net }} € {% endif %} <a
                                        href="{% static 'salarys/' %}{{ data.file }}"
                                        class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                            class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i> PDF</a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 mt-4">
                <div class="card h-100 mb-4">
                    <div class="card-header pb-0 px-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="mb-0">Bulletins de salaires</h6>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <i class="far fa-calendar-alt me-2" aria-hidden="true"></i>
                                <small>{% now "d F Y" %}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <ul class="list-group">
                            {% for value in salarysList %}
                            <li
                            class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                            <div class="d-flex align-items-center">
                                <button
                                    class="btn btn-icon-only btn-rounded btn-outline-info mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i
                                        class="ni ni-ungroup" aria-hidden="true"></i></button>
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark text-sm">{{ value.entreprise }}</h6>
                                    <span class="text-xs">{{ value.date }}</span>
                                    <span class="text-xs">Heures mensuel <span class="text-primary text-gradient text-bold">{{ value.hours }}</span></span>
                                    <span class="text-xs">Heures annuel <span class="text-primary text-gradient text-bold">{{ value.total_hours }}</span></span>
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                            <div
                                class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                                Brut {{ value.brut }} €
                            </div>
                            <div
                            class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                            Net {{ value.net }} €
                        </div>
                        </div>
                        </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}

<div class="modal fade" id="modal-doc" tabindex="-1" role="dialog" aria-labelledby="modal-doc" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="modal-title-profil">Ajouter un document</h6>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form role="form" action="/add-salarys-doc" class="text-left needs-validation" method="POST" novalidate enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="user_id" value="{{ request.user.id }}">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Entreprise</label>
                        <div class="input-group mb-3">
                        <input required type="text" name="entreprise" class="form-control" placeholder="Entreprise" aria-label="Entreprise"
                            aria-describedby="entreprise-addon" value="">
                        <div class="invalid-feedback">
                            Le champs entreprise est obligatoire.
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Date du bulletin</label>
                        <div class="input-group mb-3">
                        <input required type="text" name="date" class="form-control" placeholder="date"
                            aria-label="Date" aria-describedby="date-addon" value="Juillet 2021">
                        <div class="invalid-feedback">
                            Le champs date est obligatoire.
                        </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Salaire brut</label>
                        <div class="input-group mb-3">
                        <input required type="text" name="brut" class="form-control" placeholder="2023" aria-label="Salaire brut"
                            aria-describedby="brut-addon" value="">
                        <div class="invalid-feedback">
                            Le champs salaire brut est obligatoire.
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Salaire net</label>
                        <div class="input-group mb-3">
                        <input required type="text" name="net" class="form-control" placeholder="1909" aria-label="Salaire net"
                            aria-describedby="net-addon" value="">
                        <div class="invalid-feedback">
                            Le champs salaire net est obligatoire.
                        </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Heures mensuel</label>
                        <div class="input-group mb-3">
                        <input required type="nunmber" name="hours" class="form-control" placeholder="153.10" aria-label="Heures mensuel"
                            aria-describedby="hours-addon">
                        <div class="invalid-feedback">
                            Le champs heures mensuel est obligatoire.
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Heures total</label>
                        <div class="input-group mb-3">
                        <input required type="nunmber" name="total_hours" class="form-control" placeholder="356.99" aria-label="Heures total"
                            aria-describedby="total-hours-addon">
                        <div class="invalid-feedback">
                            Le champs heures annuel est obligatoire.
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <input required type="file" accept="application/pdf" name="file" class="form-control">
                    <div class="invalid-feedback">
                        Un fichier est obligatoire.
                    </div>
                </div>

            </div>

            <div class="modal-footer">
              <button type="submit" class="btn bg-gradient-primary">Valider</button>
              <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Fermer</button>
            </div>
        </form>
      </div>
    </div>
</div>


<script>

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll(".needs-validation");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
        form.addEventListener(
            "submit",
            function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                } else {
                    location.href = "/salarys"
                }

                form.classList.add("was-validated");


            },
            false
        );
    });

    var ctx2 = document.getElementById("chart-line").getContext("2d");
    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
        type: "line",
        data: {
            labels: ["Janvier",
                "Février",
                "mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Août",
                "Septembre",
                "Octobre",
                "Noveambre",
                "Décembre"],
            datasets: [
                {
                    label: "Brut",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#3A416F",
                    borderWidth: 3,
                    backgroundColor: gradientStroke2,
                    fill: true,
                    data: {{ dataEntrees }},
        maxBarThickness: 6
    },
        {
            label: "Net",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke1,
            fill: true,
            data: {{ dataSorties }},
        maxBarThickness: 6
            },
    ],
    },
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
                grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5]
                },
                ticks: {
                    display: true,
                    padding: 10,
                    color: '#b2b9bf',
                    font: {
                        size: 11,
                        family: "Open Sans",
                        style: 'normal',
                        lineHeight: 2
                    },
                }
            },
            x: {
                grid: {
                    drawBorder: false,
                    display: false,
                    drawOnChartArea: false,
                    drawTicks: false,
                    borderDash: [5, 5]
                },
                ticks: {
                    display: true,
                    color: '#b2b9bf',
                    padding: 20,
                    font: {
                        size: 11,
                        family: "Open Sans",
                        style: 'normal',
                        lineHeight: 2
                    },
                }
            },
        },
    },
});

    var ctx3 = document.getElementById("chart-line2").getContext("2d");
    var gradientStroke3 = ctx3.createLinearGradient(0, 230, 0, 50);

    gradientStroke3.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke3.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke3.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke4 = ctx3.createLinearGradient(0, 230, 0, 50);

    gradientStroke4.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke4.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke4.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx3, {
        type: "line",
        data: {
            labels: ["Janvier",
                "Février",
                "mars",
                "Avril",
                "Mai",
                "Juin",
                "Juillet",
                "Août",
                "Septembre",
                "Octobre",
                "Noveambre",
                "Décembre"],
            datasets: [
                {
                    label: "Heures",
                    tension: 0.4,
                    borderWidth: 0,
                    pointRadius: 0,
                    borderColor: "#3A416F",
                    borderWidth: 3,
                    backgroundColor: gradientStroke4,
                    fill: true,
                    data: {{ dataEntrees2 }},
        maxBarThickness: 6
    },
        {
            label: "Total heures",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#cb0c9f",
            borderWidth: 3,
            backgroundColor: gradientStroke3,
            fill: true,
            data: {{ dataSorties2 }},
        maxBarThickness: 6
        },
],
},
        options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
                grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5]
                },
                ticks: {
                    display: true,
                    padding: 10,
                    color: '#b2b9bf',
                    font: {
                        size: 11,
                        family: "Open Sans",
                        style: 'normal',
                        lineHeight: 2
                    },
                }
            },
            x: {
                grid: {
                    drawBorder: false,
                    display: false,
                    drawOnChartArea: false,
                    drawTicks: false,
                    borderDash: [5, 5]
                },
                ticks: {
                    display: true,
                    color: '#b2b9bf',
                    padding: 20,
                    font: {
                        size: 11,
                        family: "Open Sans",
                        style: 'normal',
                        lineHeight: 2
                    },
                }
            },
        },
    },
});


</script>
    