{% include 'base.html' %} {% load static %} {% include 'side-nav.html' %} {% load poll_extras %}
<style>
    .timeline-none {
        margin-bottom: 0;
        padding: 0;
    }

    .timeline-none li {
        position: relative;
        display: block;
        font-size: 15px;
        font-weight: 500;
        padding-left: 0;
        font-weight: bold;
    }

    table tbody tr td {
        vertical-align: middle;
    }
</style>

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    {% include 'navbar.html' %}


    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="card h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-6 d-flex align-items-center">
                                <h6 class="mb-0">Relevé de compte</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 pb-0">
                        <ul class="list-group">
                            {% for data in usersStatement %}
                            
                            <li
                                class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ data.date }}</h6>
                                    <span class="text-xs">{{ data.releves }}</span>
                                </div>
                                <div class="d-flex align-items-center text-sm">
                                    {% if data.total <= 0 %} 0 € {% else %} {{ data.total }} € {% endif %} <a
                                        href="{% static 'statements/' %}{{ data.doc }}"
                                        class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i
                                            class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i> PDF</a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% include 'footer.html' %}