{% load static %} {% load bootstrap5 %}

<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{ title }}</title>
    <meta name="description" content="Regroupement de tout mes projets." />

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/icons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/icons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/icons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/icons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/icons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/icons//android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/icons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/icons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/icons//ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    {% bootstrap_css %} {% bootstrap_javascript %}

    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />

    <!-- Nucleo Icons -->
    <link
      type="text/css"
      href="{% static 'css/nucleo-icons.css' %}"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="{% static 'css/nucleo-svg.css' %}"
      rel="stylesheet"
    />

    <!-- Font Awesome Icons -->
    <script
      src="{% static 'js/42d5adcbca.js' %}"
      crossorigin="anonymous"
    ></script>

    <!-- CSS Files -->
    {% if request.get_full_path == "/" %}
    <link id="pagestyle" href="{% static 'css/style.css' %}" rel="stylesheet" />
    {% else %}
    <link
      id="pagestyle"
      href="{% static 'css/soft-ui-dashboard.css' %}"
      rel="stylesheet"
    />
    {% endif %}

    <script src="{% static 'js/jquery.js' %}"></script>
  </head>

  <body class="u-body">