{% load static %}
<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-4 mx-auto text-center">
        <a
          href="https://portfolio-gaetan.fr"
          target="_blank"
          class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2"
        >
          Dev72
        </a>
        <a
          href="https://location-entre-particulier.fr"
          target="_blank"
          class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2"
        >
          LEP
        </a>
        <a
          href="https://my-bakery.fr"
          target="_blank"
          class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2"
        >
          My bakery
        </a>
      </div>
      <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        <a
        href="https://www.facebook.com/profile.php?id=100073260022541"
        target="_blank"
        class="text-secondary me-xl-4 me-4"
      >
        <span class="text-lg fab fa-facebook"></span>
      </a>
        <a
          href="https://twitter.com/OverGames19"
          target="_blank"
          class="text-secondary me-xl-4 me-4"
        >
          <span class="text-lg fab fa-twitter"></span>
        </a>
        <a
          href="https://github.com/gaetanarinfo"
          target="_blank"
          class="text-secondary me-xl-4 me-4"
        >
          <span class="text-lg fab fa-github"></span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto text-center mt-1">
        <p class="mb-0 text-secondary">
          Copyright ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          Dev72.
        </p>
      </div>
    </div>
  </div>
</footer>
